.app {
  margin-bottom: 100px;
}
.part1 {
  background-color: #e6fbff;
  padding: 50px 50px;
  height: 700px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.headerPart1 {
  display: flex;
  gap: 50px;
}
.headerPart2 {
  display: flex;
  gap: 10px;
}
.logoText {
  font-weight: bold;
  font-size: 24px;
  color: #0a2540;
}
.navSection {
  display: flex;
  gap: 20px;
  font-size: 14px;
  align-items: center;
}
.navSection a {
  color: #0a2540;
  text-decoration: none;
  font-weight: bold;
}
.loginButton {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.signinButton {
  padding: 6px 12px;
  background-color: #0a2540;
  color: #fff;
  border-radius: 6px;
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-left: 50px;
  margin-top: 100px;
}
.heroLeft {
}
.heroLeft h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.3;
}
.heroLeft p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  max-width: 500px;
}

.emailBox {
  display: flex;
  max-width: 400px;
  margin-bottom: 20px;
}

.emailBox input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
}

.emailBox button {
  padding: 10px 20px;
  background-color: #0a2540;
  color: #fff;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.brands {
  display: flex;
  gap: 20px;
  color: #888;
  font-size: 14px;
  margin-top: 10px;
}
.heroRight {
  background-color: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
  width: 20vw;
}
.heroRight h2 {
  font-size: 14px;
  color: #666;
}

.heroRight .amountInfo {
  border: 1px solid #ada8a8;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  gap: 10px;
}

.heroRight .amount {
  font-size: 28px;
  font-weight: bold;
  /* margin: 10px 0; */
}

.paymentInfo div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #ada8a8;
  border-radius: 10px;
  padding: 10px;
}
.paymentInfo div.activeOption {
  border: 1px solid #0a2540;
}

.payBtn {
  width: 100%;
  margin-top: 20px;
  background-color: #0a2540;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.part2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
  width: 70vw;
  margin: 0 auto;

  margin-top: -100px;
  margin-bottom: 100px;
}
.features {
  display: flex;
  gap: 100px;
}
.futureText {
  color: rgb(19, 121, 137);
  font-size: 12px;
}
.futurePaymentCintent {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  margin-right: 80px;
}
.part2 .rightContent {
  color: #555;
  align-items: center;
  display: flex;
}
.part2 .leftText {
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
}
.features {
  margin-top: 50px;
}
.feature {
  color: #555;
}
.part3 {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part3 .card1 {
  background-color: rgb(241, 239, 239);
  width: 30vw;
  height: 200px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.part3 .card1 .content {
  font-weight: bold;
  width: 40vw;
  font-size: 20px;
}
.part3 .card2 {
  width: 30vw;
  height: 200px;
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  padding: 50px;
}
.part3 .card2 .content {
  font-weight: bold;
  width: 40vw;
  font-size: 20px;
}
.part3 .card3 {
  width: 65vw;
  /* height: 200px; */
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  padding: 50px 50px 0px 50px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.card3 img {
  height: 310px;
  width: 500px;
  border-radius: 10px 10px 0 0;
}
.footerSection {
  margin-top: 400px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  /* align-items: center; */
  justify-content: center;
  justify-items: center;
  /* background-color: pink; */
  padding-bottom: 40px;
  border-bottom: 1px solid #e2dddd;
}
.footerSection .copyRightText {
  color: #0a2540;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer a {
  text-decoration: none;
}
.footer .subHeader {
  font-size: 24px;
  font-weight: 500;
  color: #0a2540;
  margin-bottom: 20px;
}
.footer .link {
  font-size: 18px;
  font-weight: 300;
  color: #555;
}
.linkSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .logoText {
  flex: 1;
}
.footer .footerPart1 {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.footer .followUs {
  flex: 1;
  justify-items: flex-end;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    margin-right: unset;
    margin-left: unset;
    margin-top: unset;
  }
  .part2 {
    margin-top: 200px;
  }
  .futurePaymentCintent {
    margin-right: 0;
    gap: 10px;
  }
  .futurePaymentCintent,
  .headerPart1,
  .navSection,
  .features,
  .card3,
  .header,
  .headerPart2,
  .hero,
  .footer,
  .footer .footerPart1 {
    flex-direction: column;
    align-items: center;
  }

  .footer .footerPart1 {
    gap: 10px;
  }
  .headerPart2 {
    margin-top: 20px;
  }
  .loginButton,
  .signinButton {
    width: 40vw;
  }
  .card3 img {
    height: 250px;
    width: 250px;
    border-radius: 10px 10px 0 0;
    margin: 30px 0;
  }
  .part3 .card2,
  .part3 .card1,
  .part3 .card3 {
    display: flex;
    width: 65vw;
  }
  .heroLeft {
    padding: 0 10vw;
    margin-top: 50px;
  }
  .heroRight {
    width: 70vw;
    margin-top: 100px;
  }
  .part1 {
    padding: 10px;
    padding-bottom: 100px;
    height: unset;
  }
  .features {
    gap: 10px;
    margin-top: 100px;
  }
  .part3 .card2 .content,
  .part3 .card1 .content {
    width: unset;
  }
  .footer .logoText {
    margin-bottom: 90px;
  }
  .footer .link,
  .footer .subHeader {
    align-self: center;
  }
  .footer .followUs {
    margin-top: 100px;
    justify-items: center;
  }
}
